# Byte-compiled files

info_data.db
news_summary.egg-info/
database.db
*.pyc
*.pyo
*.pyd
__pycache__/
*__pycache__
__pycache__*

# Virtual environments
.env/
.venv/
env/
venv/

# Distribution/packaging
*.egg
*.egg-info/
dist/
build/
eggs/
parts/
var/
wheels/
sdist/
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test and coverage reports
htmlcov/
.tox/
.nox/
.coverage
*.cover
*.py,cover
coverage.xml
*.log

# MyPy
.mypy_cache/
.dmypy.json
dmypy.json

# Pyre
.pyre/

# Jupyter Notebook
.ipynb_checkpoints

# PyCharm
.idea/

# VSCode
.vscode/

# MacOS
.DS_Store

# Windows
Thumbs.db
ehthumbs.db
Desktop.ini

# Linux
*.~lock.*
.*.swp
.*.swo

# Database files
*.db
*.sqlite3

# Logs
*.log

# Temporary files
*.tmp
*.temp
*.bak
*.orig
*.old

# Other
*.~*~
*.project
*.pydevproject

info_data.db